.movieDetail{
    font-family: 'DynaPuff', cursive;
    color: aliceblue;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.movieDetailImage{
 max-height: 450px;
}
p{
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
}