.imagesMovies{
    width: 80%;
    border-radius: 20px;
    height: 100%;
    max-height: 200px
}
.movieChild{
    height: 300px;
    width: 300px;
}
.fa {
    font-size:calc(12px + 1.5vw);
    position: relative; 
    color: aliceblue;
}
.fa:hover {
    color: wheat;
  }