body{
  font-family: 'DynaPuff', cursive;
  background-color: #131618;
  background-image: linear-gradient(45deg, transparent 20%, black 25%, transparent 25%),
  radial-gradient(#131618 2px, transparent 0);
background-size: 30px 30px, 30px 30px;
}
.App{
  position: absolute;
  height: 100%;
  width: 100%;
}
a{
  color: aliceblue;
  text-decoration:none;
}
a:hover {
  color: wheat;
}
.Link{
  margin: 10px;
  display: inline-block;
  font-size: 24px;
}
.logo{
  font-weight: bold;
  font-size: 24px;
  background: -webkit-linear-gradient(#eb2f06, #480719);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
